      h3,p{
        margin:0px;
      }
      body{
        font-family: 'Shadows Into Light Two', cursive;
        /*font-family: helvetica, sans-serif;*/
      }
      html{
        background-image: url("images/parchment_swatch.jpg");
        background-repeat: repeat;
      }
      #main{
        width:100%;
        height:85vh;
        /*height:100%;*/
        flex-direction:row;
        display: flex;
      }
      #title{
        margin: 0 5vw 5vh 0;
        display: inline-block;
      }
      #topbar{
        display:inline-block;
      }
      .topbar-el{
        display:inline-block;
        margin-left: 5vw
      }
      .topbar-img{
        height:30px;
      }
      #sidebar{
        margin: 0px;
        border: 0px;
        height:85vh;
/*        width:10%;*/
        float:left;
      }
      .sidebar-box{
        border: 1px solid black; 
      }
      .sidebar-img-box{
        /*background-color:red;*/
        float:left;
      }
      .sidebar-text-box{
        /*background-color:green;*/
      }
      .sidebar-num-box{
        margin-top:1vh;
        /*background-color:purple;*/
        text-align:center;
      }
      .sidebar-img{
        width:30px;
      }
      .sidebar-el{
        border-bottom:1px solid gray;
        margin-bottom:1vh;
        overflow:auto;
        clear:both;
/*        background-color: red;
*/      }
      #mainbar{
        flex:1;
        height:85vh;
        width:100%;
      }
      #event_box{
        width:90%;
        height:85vh;
        margin: 0 2vw;
      }
      #delta-box{
        border-top: 1px solid black;
      }
      #events{
        overflow:hidden;
        overflow-y:auto;
        margin: 2vh 1vw;
      }
      #house{}
      #pop{}
      #food{}
      #water{}
      #food_source_link{}