      h3,p{
        margin:0px;
      }
      #main{
        width:100%;
        height:100%;
        flex-direction:row;
        display: flex;
      }
      #sidebar{
        margin: 0px;
        border: 0px;
        height:95vh;
/*        width:10%;*/
        float:left;
      }
      .sidebar-box{
        border: 1px solid black; 
      }
      .sidebar-img-box{
        /*background-color:red;*/
        float:left;
      }
      .sidebar-text-box{
        /*background-color:green;*/
      }
      .sidebar-num-box{
        margin-top:1vh;
        /*background-color:purple;*/
        text-align:center;
      }
      .sidebar-img{
        width:30px;
      }
      .sidebar-el{
        border-bottom:1px solid gray;
        margin-bottom:1vh;
        overflow:auto;
        clear:both;
        background-color: red;
      }
      #mainbar{
        flex: 1;
/*        width:90%;
*/        height:85vh;
        float:right;
        margin: 0 2vw;
        background-color: orange;
      }
      .info-box{
        height:50%;
        flex-direction:column;
        display: flex;
      }
      #event-box{}
      #delta-box{
        border-top: 1px solid black;
      }
      .info{
        flex: 1;
        height:100%;
        overflow:hidden;
        overflow-y:auto;
        margin: 2vh 1vw;
      }
      #events{}
      #delta{}
      #house{}
      #pop{}
      #food{}
      #water{}